{% extends "Outline.view.twig" %}

{% block BODY %}
    {% for clanek in clanky %}
        <div class="row">
            <div class="col-lg-10">
                <div class="table-responsive">
                    <table class="table table-bordered table-dark">
                        <tr>
                            <td>{{ lang == "cz"? "Autor:" : "Author:" }} {{ clanek.autor_jmeno }}</td>
                        </tr>
                        <tr>
                            <td>{{ lang == "cz"? "Název:" : "Title:" }} <a href="Articles/{{ clanek.nazev_souboru }}" target="_blank">{{ clanek.nazev }}</a></td>
                        </tr>

                        {% for recenzent in clanek.recenzenti %}
                            <tr>
                                <td>{{ lang == "cz"? "Recenzent:" : "Reviewer:" }} {{ recenzent.jmeno ~ " " ~ recenzent.prijmeni }}</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td>
                                <form method="post" class=>
                                    <select name="id_recenzent">
                                        {% for recenzent in vsichni_recenzenti %}
                                        <option value="{{ recenzent.id_uzivatel }}" id="{{ clanek.id_clanek ~ "-" ~ recenzent.id_uzivatel }}-opt">
                                            {{ recenzent.jmeno ~ " " ~ recenzent.prijmeni }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                    <input type="hidden" name="id_clanek" value="{{ clanek.id_clanek }}">
                                    <input type="submit" name="add_reviewer" value="{{ lang == "cz"? "Přiřadit" : "Assign" }}" class="btn btn-primary">
                                    <input type="submit" name="decl_article" value="{{ lang == "cz"? "Zamítnout příspěvek" : "Reject article" }}" class="btn btn-danger float-lg-right" onclick="return confirm('{{ lang == "cz"? "Opravdu si přejete článek " ~ clanek.nazev ~ " zamítnout?" : "Are you sure you want to reject the article " ~ clanek.nazev ~ "?" }}')">
                                </form>
                            </td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block JS_Script %}
{% if alert %}
<script>
    alert("{{ lang == "cz"? "Nelze přiřadit stejného recenzenta." : "Cannot assign the same reviewer." }}");
</script>
{% endif %}
{% endblock %}