{% extends "Outline.view.twig" %}

{% block BODY %}
    {% for clanek in clanky %}
        <div class="row">
            <div class="col-lg-10">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr>
                            <td>Autor: {{ clanek.autor_jmeno }}</td>
                        </tr>
                        <tr>
                            <td>Název: <a href="Articles/{{ clanek.nazev_souboru }}" target="_blank">{{ clanek.nazev }}</a></td>
                        </tr>

                        {% for recenzent in clanek.recenzenti %}
                            <tr>
                                <td>Recenzent: {{ recenzent.jmeno ~ " " ~ recenzent.prijmeni }}</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td>
                                <form method="post" class=>
                                    <select name="id_recenzent">
                                        {% for recenzent in vsichni_recenzenti %}
                                        <option value="{{ recenzent.id_uzivatel }}" id="{{ clanek.id_clanek ~ "-" ~ recenzent.id_uzivatel }}-opt">
                                            {{ recenzent.jmeno ~ " " ~ recenzent.prijmeni }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                    <input type="hidden" name="id_clanek" value="{{ clanek.id_clanek }}">
                                    <input type="submit" name="add_reviewer" value="Přiřadit" class="btn btn-primary">
                                    <input type="submit" name="decl_article" value="Zamítnout příspěvek" class="btn btn-danger float-lg-right">
                                </form>
                            </td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block JS_Script %}
{% if alert %}
<script>
    alert("Nelze přiřadit stejného recenzenta.");
</script>
{% endif %}
{% endblock %}