{% import "Makra.twig" as macros %}

<!doctype html>
<html lang="en">
    <head>
        <title>{{ title | striptags }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    </head>

    <body class="bg-secondary">
    <div class = "container-md">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin:24px 0;">
            <a class="navbar-brand" href="javascript:void(0)"><i class="fas fa-square-root-alt"></i></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb" aria-expanded="true">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse show" id="navb" style="">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.php?page=uvod">{{ lang == "cz"? "Úvod" : "Home" }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.php?page=clanky">{{ lang == "cz"? "Články" : "Articles" }}</a>
                    </li>
                </ul>

                <div class="dropdown dropdown-menu-right">
                    <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown">{{ lang == "cz"? "Přihlášení" : "Login" }} {{ logged ? "" : "<i class='fas fa-sign-in-alt'></i>" }}</button>
                    <div class="dropdown-menu">

                        {# add login form / logged nav here #}
                        {% if logged %}
                        {{ macros.logged_form(user,rights) }}
                        {% else %}
                        {{ macros.login_form() }}
                        {% endif %}

                    </div>
                </div>

            </div>
        </nav>


    {% block BODY %}

        sample text

    {% endblock BODY %}

    </div>
    </body>
    <footer>
    </footer>

    {% block LOGIN_ALERTS %}
        {% if bad_login %}
            <script>
              alert("{{ lang == "cz"? "Nepodařilo se přihlásit: uživatel neexistuje" : "Login failed: user does not exist" }}");
            </script>
        {% elseif ban %}
            <script>
                alert("{{ lang == "cz"? "Nepodařilo se přihlásit: uživatel zablokován" : "Login failed: user is blocked" }}");
            </script>
        {% elseif bad_pass %}
            <script>
               alert("{{ lang == "cz"? "Nepodařilo se přihlásit: špatné heslo" : "Login failed: incorrect password" }}");
            </script>
        {% endif %}
    {% endblock %}


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    {% block CSS %}
    {% endblock %}

    {% block JS_Script %}
    {% endblock JS_Script %}

{% if not logged %}
    <script>

        let pass_show = false;
        let toggle_pass = () => {
            pass_show = !pass_show;
            if(pass_show){
                $("#pass-inp").prop("type","text");
                $("#pass-but").html('<i id="pass-ico" class="fas fa-eye"></i>');
            }
            else{
                $("#pass-inp").prop("type","password");
                $("#pass-but").html('<i id="pass-ico" class="fas fa-eye-slash"></i>');
            }
        }

        $(document).ready(() =>
            $("#pass-but").click(toggle_pass)
        );
    </script>
{% endif %}

</html>