{% extends "Outline.view.twig" %}

{% block BODY %}

    {% if rights <3 %}
    <div class="row" style="margin-bottom: 10px">
        <div class="col-lg-12">
            <a href="index.php?page=rozhodnout_recenze" class="btn btn-dark float-lg-right">Rozhodnout recenze</a>
        </div>
    </div>
    {% endif %}
    {% for clanek in clanky %}
        <div class="row">
            <div class="col-lg-10">
                <div>
                    <table class="table table-bordered table-dark">
                        <tr>
                            <td>Autor: {{ clanek.autor_jmeno }}</td>
                        </tr>
                        <tr>
                            <td>Název: <a href="Articles/{{ clanek.nazev_souboru }}" target="_blank">{{ clanek.nazev }}</a></td>
                        </tr>
                        <tr>
                            <td>Klíčová slova: {{ clanek.klicova_slova }}</td>
                        </tr>
                        <tr>
                            <td>{{ clanek.popis }}</td>
                        </tr>
                        <tr>
                            <td>
                                <form method="post">
                                    <div class="form-group row">
                                        <label for="hodnoceni{{ clanek.id_clanek }}" class="col-sm-2 col-form-label">Hodnocení:</label>
                                        <div class="col-sm-2">
                                            <input type="number" name="rev_val" class="form-control" min="1" max="10" id="hodnoceni{{ clanek.id_clanek }}">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <textarea name="review_comment" class="form-control" placeholder="Poznámky. Až 200 znaků."></textarea>
                                    </div>
                                    <div class="form-row">
                                        <input type="hidden" name="id_clanek" value="{{ clanek.id_clanek }}">
                                        <input type="submit" name="add_review" value="Ohodnotit" class="btn btn-primary" onclick="return confirm('Opravdu si přejete článek {{ clanek.nazev }} takto ohodnotit?')">
                                    </div>
                                </form>
                            </td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
