{% extends "Outline.view.twig" %}

{% block BODY %}

    <h1 class="bg-danger text-center">{{ lang == "cz"? "SPRÁVA" : "MANAGE" }} {{ ofWhatManagement }}</h1>

    <div class="table-responsive">
        <table class="table table-dark" id="us_list">
            <tr>
                <th>ID</th><th>{{ lang == "cz"? "Login" : "Login" }}</th><th>{{ lang == "cz"? "Jméno" : "First Name" }}</th><th>{{ lang == "cz"? "Příjmení" : "Last Name" }}</th><th>{{ lang == "cz"? "Email" : "Email" }}</th><th>{{ lang == "cz"? "Právo" : "Role" }}</th><th>{{ lang == "cz"? "Akce" : "Actions" }}</th>
            </tr>
            {% for u in user_list %}
            {% if not u.ban %}
                <tr>
                    <td>{{ u.id_uzivatel }}</td>
                    <td>{{ u.login }}</td>
                    <td>{{ u.jmeno }}</td>
                    <td>{{ u.prijmeni }}</td>
                    <td>{{ u.email }}</td>
                    <td>
                        <select name="prava_select" form="{{ u.id_uzivatel }}">
                        {% block prava_select %}
                            some options
                        {% endblock %}
                        </select>
                    </td>
                    <td>
                        <form method="post" id="{{ u.id_uzivatel }}">
                            <input type="submit" name="delete" value="{{ lang == "cz"? "Zablokovat" : "Block" }}" onclick="return confirm('{{ lang == "cz"? "Udělit ban uživateli" : "Block user" }} {{ u.jmeno ~" "~ u.prijmeni}}?')">
                            <input type="submit" name="set_role" value="{{ lang == "cz"? "Upravit roli" : "Edit Role" }}" onclick="return confirm('{{ lang == "cz"? "Upravit roli uživatele" : "Edit role of user" }} {{ u.jmeno ~" "~ u.prijmeni}}?')">
                            <input type="hidden" name="id_uzivatel" value="{{ u.id_uzivatel }}">
                        </form>
                    </td>
                </tr>
            {% endif %}
            {% endfor %}
        </table>
    </div>

{% endblock %}

{% block JS_Script %}
    <script>
        //had I bootstrap 4.5.7+, this would work -> table sorting
        $(document).ready(function () {
            $('#us_list').DataTable();
        });
    </script>
{% endblock %}