{% extends "Outline.view.twig" %}


{% block BODY %}
{% if error %}
    <div class="alert alert-danger">
        {% if lang == "cz" %}
        Chyba: {{ err_reason_cz}}
        {% else %}
        Error: {{ err_reason_en}}
        {% endif %}
    </div>
{% else %}
    <div id="otp-div">
        <span class="otp-prompt">
        {% if lang == "cz" %}
        Zašlete následující JSON objekt obsahující jednorázové heslo na POST API 
        {% else %}
        Send the following JSON object including the one-time password to the POST API at
        {% endif %}
        /api.php?service=otp_login
        </span>

        <pre><code>
        {
            "otp": "{{ otp }}"
        }
        </code></pre>
    </div>

    <div hidden>
        <form method="POST" id="otp-login-form">
            <input type="hidden" name="otp-token" value="{{ otp }}">
            <input type="hidden" name="otp-signature" id="otp-signature" value="">
            <input type="hidden" name="otp-user-id" id="otp-user-id" value="">
            <input type="submit" name="otp-submit" id="otp-submit">
        </form>
    </div>
{% endif %}
{% endblock %}

{% block CSS %}

{% endblock %}

{% block JS_Script %}
{% if not error %}
<script>
    var ws_client = new WebSocket("{{ ws_client }}");
    //var i = setInterval( ()=>{ws_client.send('{"web-otp": "{{ otp }}"}')}, 1000);

    ws_client.onopen = (evt) => {ws_client.send('{"web-otp": "{{ otp }}"}')}

    ws_client.onmessage = (evt) => {
        data = JSON.parse(evt.data)

        if(data.status == "OTP in use") {
            location.reload();
            return;
        }

        if(data.status == "OTP recieved") {
            if(data.otp != "{{ otp }}"){
                console.error("Recieved wrong OTP: " + data.otp + ", expected: {{ otp }}")
                return;
            }
            //clearInterval(i);
            return;
        }

        if(data.status == "OTP forward") {
            if(data.otp != "{{ otp }}"){
                console.error("Forwarded wrong OTP: " + data.otp + ", expected: {{ otp }}")
                return;
            }
            ws_client.close()
            $("#otp-signature").val(data.signature);
            $("#otp-user-id").val(data.user_id);
            $("#otp-submit").click();
        }

        if(data.status == "OTP timeout") {
            console.error("OTP timeout")
            $("#otp-div").html("{{ lang == "cz"? "Vypršel čas na přihlášení. Zkuste to znovu." : "Communication Timed Out. Try again." }}").addClass("alert alert-danger")
            ws_client.close()
        }

    }
</script>
{% endif %}
{% endblock %}
