{% extends "Outline.view.twig" %}

{% block BODY %}
    {% for clanek in clanky %}
        <div class="row">
            <div class="col-lg-10">
                <div>
                    <table class="table table-bordered table-hover table-dark">
                        <tr>
                            <td>{{ lang == "cz"? "Autor:" : "Author:" }} {{ clanek.autor_jmeno }}</td>
                        </tr>
                        <tr>
                            <td>{{ lang == "cz"? "Název:" : "Title:" }} <a href="Articles/{{ clanek.nazev_souboru }}" target="_blank">{{ clanek.nazev }}</a></td>
                        </tr>
                        <tr>
                            <td>{{ lang == "cz"? "Klíčová slova:" : "Keywords:" }} {{ clanek.klicova_slova }}</td>
                        </tr>
                        <tr>
                            <td>{{ clanek.popis }}</td>
                        </tr>

                        {% for recenzent in clanek.recenzenti %}
                            <tr>
                                <td>
                                    <div class="row">
                                        <div class="col-10">
                                            {{ lang == "cz"? "Recenzent:" : "Reviewer:" }} {{ recenzent.jmeno ~ " " ~ recenzent.prijmeni }}
                                        </div>
                                        <div class="col-2 text-right">
                                            {{ recenzent.hodnoceni }}/10
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-left: 30px">{{ lang == "cz"? "Poznámky:" : "Notes:" }} {{ recenzent.poznamky }}</td>
                            </tr>
                        {% endfor %}

                        <tr>
                            <td>
                                <form method="post" class="form-inline">
                                    <input type="hidden" name="ar_id" value="{{ clanek.id_clanek }}">
                                    <input type="submit" name="schvalit" value="{{ lang == "cz"? "Schválit" : "Approve" }}" class="btn btn-success" onclick="return confirm('{{ lang == "cz"? "Opravdu si přejete článek " ~ clanek.nazev ~ " schválit?" : "Are you sure you want to approve the article " ~ clanek.nazev ~ "?" }}')">
                                    <input type="submit" name="zamitnout" value="{{ lang == "cz"? "Zamítnout" : "Reject" }}" class="btn btn-danger" onclick="return confirm('{{ lang == "cz"? "Opravdu si přejete článek " ~ clanek.nazev ~ " zamítnout?" : "Are you sure you want to reject the article " ~ clanek.nazev ~ "?" }}')">
                                    <input type="submit" name="vratit" value="{{ lang == "cz"? "Vrátit k recenzi" : "Return for review" }}" class="btn btn-primary" onclick="return confirm('{{ lang == "cz"? "Opravdu si přejete článek " ~ clanek.nazev ~ " vrátit k recenzi?" : "Are you sure you want to return the article " ~ clanek.nazev ~ " for review?" }}')">
                                </form>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}